# Bundler caching
./.cache/
./.rollup.cache/

# Bundled output file
main.js
main.js.LICENSE.txt
main-start.js

# Worker tarball
worker.tar.gz

# Config file
config.json
node_modules

# Ignore build assets
dist/
tsc_out/
*.tar.gz
